
.idea/workspace.xml
*.pyc
.idea/FRR-Software-Interface.iml
.idea/misc.xml
.idea/workspace.xml
datalogs/Data Analysis/~$August17th_Analysis.xlsx
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
datalogs/Pressure_Radius_Test_10_02_2024_15_10_30/Images.zip
