.rect1394-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dual-grasper-proctor-child {
  position: absolute;
  height: 79.63%;
  width: 44.79%;
  top: 13.98%;
  right: 49.22%;
  bottom: 6.39%;
  left: 5.99%;
  border-radius: var(--br-xl);
  border: 10px solid var(--color-darkslateblue);
  box-sizing: border-box;
}
.path5107-1-icon {
  position: absolute;
  height: 12.38%;
  width: 6.96%;
  top: 25.67%;
  right: 73.8%;
  bottom: 61.95%;
  left: 19.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path5107-1-8-3-0-9-9-5-0-icon,
.path5107-1-8-3-0-9-9-5-icon,
.path5107-1-8-3-0-9-9-icon,
.path5107-1-8-3-0-9-icon,
.path5107-1-8-icon {
  position: absolute;
  height: 12.38%;
  width: 6.96%;
  top: 25.67%;
  right: 62.37%;
  bottom: 61.95%;
  left: 30.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path5107-1-8-3-0-9-9-5-0-icon,
.path5107-1-8-3-0-9-9-5-icon,
.path5107-1-8-3-0-9-9-icon,
.path5107-1-8-3-0-9-icon {
  top: 48.99%;
  bottom: 38.63%;
}
.path5107-1-8-3-0-9-9-5-0-icon,
.path5107-1-8-3-0-9-9-5-icon,
.path5107-1-8-3-0-9-9-icon {
  top: 70.86%;
  right: 85.41%;
  bottom: 16.76%;
  left: 7.63%;
}
.path5107-1-8-3-0-9-9-5-0-icon,
.path5107-1-8-3-0-9-9-5-icon {
  right: 73.8%;
  left: 19.24%;
}
.path5107-1-8-3-0-9-9-5-0-icon {
  right: 62.37%;
  left: 30.67%;
}
.dual-grasper-proctor-item {
  position: absolute;
  height: 67.22%;
  width: 35.47%;
  top: 14.26%;
  right: 6.3%;
  bottom: 18.52%;
  left: 58.23%;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue);
}
.rect5387-6-icon {
  position: absolute;
  height: 57.37%;
  width: 7.95%;
  top: 25.67%;
  right: 50.99%;
  bottom: 16.97%;
  left: 41.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.goal {
  position: absolute;
  top: 52.31%;
  left: 43.18%;
  font-weight: 600;
}
.layer2-icon,
.layer3-icon,
.layer7-icon,
.vector-icon7 {
  position: absolute;
  height: 12.38%;
  width: 6.96%;
  top: 25.65%;
  right: 85.43%;
  bottom: 61.97%;
  left: 7.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.layer2-icon,
.layer3-icon,
.vector-icon7 {
  height: 12.86%;
  width: 7.23%;
  top: 48.73%;
  right: 85.3%;
  bottom: 38.42%;
  left: 7.47%;
}
.layer3-icon,
.vector-icon7 {
  height: 12.38%;
  width: 6.96%;
  top: 48.96%;
  right: 73.83%;
  bottom: 38.65%;
  left: 19.21%;
}
.vector-icon7 {
  height: 8.08%;
  width: 4.55%;
  top: 63.57%;
  right: 69.24%;
  bottom: 28.35%;
  left: 26.22%;
}
.attempts-remaining,
.div1,
.grasper {
  position: absolute;
  top: 30.28%;
  left: 9.17%;
  font-weight: 600;
}
.attempts-remaining,
.grasper {
  top: 19.17%;
  left: 72.24%;
  font-size: var(--font-size-17xl);
}
.attempts-remaining {
  top: 83.06%;
  left: 58.28%;
}
.dual-grasper-proctor-inner,
.g82826-icon1,
.g83120-icon1,
.layer6-icon {
  position: absolute;
  height: 4.78%;
  width: 35.48%;
  top: 88.87%;
  right: 6.27%;
  bottom: 6.36%;
  left: 58.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.g82826-icon1,
.g83120-icon1,
.layer6-icon {
  height: 33.79%;
  width: 24.51%;
  top: 25.35%;
  right: 11.75%;
  bottom: 40.86%;
  left: 63.74%;
}
.g82826-icon1,
.g83120-icon1 {
  height: 6.61%;
  width: 4.13%;
  top: 5.08%;
  right: 82.8%;
  bottom: 88.31%;
  left: 13.06%;
}
.g83120-icon1 {
  height: 6.66%;
  width: 6.34%;
  right: 87.4%;
  bottom: 88.25%;
  left: 6.26%;
}
.contact-force {
  position: absolute;
  width: 8.91%;
  top: 64.72%;
  left: 59.48%;
  font-weight: 600;
  display: inline-block;
}
.dual-grasper-proctor-child1,
.rectangle-div {
  position: absolute;
  height: 6.64%;
  top: 71.64%;
  bottom: 21.73%;
  left: 66.98%;
  border-radius: var(--br-3xs);
}
.rectangle-div {
  width: 25.78%;
  right: 7.24%;
  border: 3.9px solid var(--color-peachpuff);
  box-sizing: border-box;
}
.dual-grasper-proctor-child1 {
  width: 19.89%;
  right: 13.13%;
  background-color: var(--color-peachpuff);
}
.div2 {
  position: absolute;
  top: 66.48%;
  left: 67.76%;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
}
.rect79742-0-2-icon1,
.rect79742-0-icon1,
.rect79742-icon1 {
  position: absolute;
  height: 9.21%;
  width: 0.48%;
  top: 2.83%;
  right: 7.34%;
  bottom: 87.96%;
  left: 92.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rect79742-0-2-icon1,
.rect79742-0-icon1 {
  right: 8.54%;
  left: 90.98%;
}
.rect79742-0-2-icon1 {
  right: 9.74%;
  left: 89.77%;
}
.group-child1,
.label {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child1 {
  border-radius: var(--br-7xl-5);
  background-color: var(--color-sandybrown);
  width: 189px;
  height: 53px;
}
.label {
  height: 100%;
  width: 100%;
  font-size: var(--font-size-13xl);
  line-height: 22px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 54px;
  left: 1285px;
}
.group-button,
.group-child2,
.rectangle-parent1 {
  position: absolute;
  width: 189px;
  height: 53px;
}
.group-child2 {
  top: 0;
  left: 0;
  border-radius: var(--br-7xl-5);
  background-color: var(--color-crimson);
}
.rectangle-parent1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 54px;
  left: 1499px;
}
.dual-grasper-proctor {
  position: relative;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
