.rect1394-icon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.soft-grasper-participant-child {
  position: absolute;
  height: 79.63%;
  width: 44.79%;
  top: 13.98%;
  right: 49.22%;
  bottom: 6.39%;
  left: 5.99%;
  border-radius: var(--br-xl);
  border: 10px solid var(--color-darkslateblue);
  box-sizing: border-box;
}
.path5107-1-8-icon2,
.path5107-1-icon2 {
  position: absolute;
  height: 12.38%;
  width: 6.96%;
  top: 25.67%;
  right: 73.8%;
  bottom: 61.95%;
  left: 19.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path5107-1-8-icon2 {
  right: 62.37%;
  left: 30.67%;
}
.path5107-1-8-3-0-9-9-5-0-icon2,
.path5107-1-8-3-0-9-9-5-icon2,
.path5107-1-8-3-0-9-9-icon2,
.path5107-1-8-3-0-9-icon2 {
  position: absolute;
  height: 12.38%;
  width: 6.96%;
  top: 48.99%;
  right: 62.37%;
  bottom: 38.63%;
  left: 30.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path5107-1-8-3-0-9-9-5-0-icon2,
.path5107-1-8-3-0-9-9-5-icon2,
.path5107-1-8-3-0-9-9-icon2 {
  top: 70.86%;
  right: 85.41%;
  bottom: 16.76%;
  left: 7.63%;
}
.path5107-1-8-3-0-9-9-5-0-icon2,
.path5107-1-8-3-0-9-9-5-icon2 {
  right: 73.8%;
  left: 19.24%;
}
.path5107-1-8-3-0-9-9-5-0-icon2 {
  right: 62.37%;
  left: 30.67%;
}
.soft-grasper-participant-item {
  position: absolute;
  height: 67.22%;
  width: 35.47%;
  top: 14.26%;
  right: 6.3%;
  bottom: 18.52%;
  left: 58.23%;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue);
}
.rect5387-6-icon2 {
  position: absolute;
  height: 57.37%;
  width: 7.95%;
  top: 25.67%;
  right: 50.99%;
  bottom: 16.97%;
  left: 41.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.goal2 {
  position: absolute;
  top: 52.31%;
  left: 43.18%;
  font-weight: 600;
}
.layer2-icon2,
.layer3-icon2,
.layer7-icon2,
.vector-icon9 {
  position: absolute;
  height: 12.38%;
  width: 6.96%;
  top: 25.65%;
  right: 85.43%;
  bottom: 61.97%;
  left: 7.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.layer2-icon2,
.layer3-icon2,
.vector-icon9 {
  height: 12.86%;
  width: 7.23%;
  top: 48.73%;
  right: 85.3%;
  bottom: 38.42%;
  left: 7.47%;
}
.layer3-icon2,
.vector-icon9 {
  height: 12.38%;
  width: 6.96%;
  top: 48.96%;
  right: 73.83%;
  bottom: 38.65%;
  left: 19.21%;
}
.vector-icon9 {
  height: 8.08%;
  width: 4.55%;
  top: 63.57%;
  right: 69.24%;
  bottom: 28.35%;
  left: 26.22%;
}
.attempts-remaining2,
.div5,
.grasper2 {
  position: absolute;
  top: 30.28%;
  left: 9.17%;
  font-weight: 600;
}
.attempts-remaining2,
.grasper2 {
  top: 31.48%;
  left: 59.64%;
  font-size: var(--font-size-17xl);
}
.attempts-remaining2 {
  top: 83.06%;
  left: 58.28%;
}
.soft-grasper-participant-inner {
  position: absolute;
  height: 4.78%;
  width: 35.48%;
  top: 88.87%;
  right: 6.27%;
  bottom: 6.36%;
  left: 58.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.g82826-icon3,
.g83120-icon3,
.rect79742-0-2-icon3,
.rect79742-0-icon3,
.rect79742-icon3 {
  position: absolute;
  height: 6.61%;
  width: 4.13%;
  top: 5.08%;
  right: 82.8%;
  bottom: 88.31%;
  left: 13.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.g83120-icon3,
.rect79742-0-2-icon3,
.rect79742-0-icon3,
.rect79742-icon3 {
  height: 6.66%;
  width: 6.34%;
  right: 87.4%;
  bottom: 88.25%;
  left: 6.26%;
}
.rect79742-0-2-icon3,
.rect79742-0-icon3,
.rect79742-icon3 {
  height: 0.86%;
  width: 5.18%;
  top: 4.87%;
  right: 6.19%;
  bottom: 94.28%;
  left: 88.63%;
}
.rect79742-0-2-icon3,
.rect79742-0-icon3 {
  top: 7.01%;
  bottom: 92.14%;
}
.rect79742-0-2-icon3 {
  top: 9.15%;
  bottom: 90%;
}
.jan-282 {
  height: 5%;
  width: 10.49%;
  top: 6.2%;
  left: 66.98%;
  display: inline-block;
  color: var(--color-peachpuff);
}
.am2,
.damping,
.jan-282,
.power,
.stiffness {
  position: absolute;
  font-size: var(--font-size-5xl);
}
.am2 {
  height: 5%;
  width: 6.81%;
  top: 6.2%;
  left: 78.78%;
  display: inline-block;
  color: var(--color-peachpuff);
}
.damping,
.power,
.stiffness {
  top: 54.63%;
  left: 59.43%;
  font-weight: 600;
}
.power,
.stiffness {
  top: 63.61%;
}
.power {
  top: 72.69%;
}
.soft-grasper-participant-child1 {
  position: absolute;
  height: 30.63%;
  width: 17.23%;
  top: 18.23%;
  right: 12.1%;
  bottom: 51.14%;
  left: 70.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.grooveback,
.trackback {
  width: 100%;
  right: 0;
  left: 0;
  border-radius: var(--br-5xs);
}
.grooveback {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: var(--color-gainsboro);
  border: 3.9px solid var(--color-peachpuff);
  box-sizing: border-box;
}
.trackback {
  background-color: var(--color-peachpuff);
}
.sliderhandle,
.slidertrack,
.trackback {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.slidertrack {
  left: 0;
  border-radius: var(--br-5xs);
  width: 150px;
}
.sliderhandle {
  left: 135px;
  width: 15px;
}
.slidertemplate {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.div6,
.myslider,
.slidertemplate {
  position: absolute;
}
.myslider {
  top: 764px;
  left: 1283px;
  width: 495px;
  height: 72px;
}
.div6 {
  top: 72.22%;
  left: 67.86%;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
}
.myslider1 {
  position: absolute;
  top: 666px;
  left: 1283px;
  width: 495px;
  height: 72px;
}
.div7 {
  position: absolute;
  top: 63.15%;
  left: 67.86%;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
}
.myslider2 {
  position: absolute;
  top: 569px;
  left: 1283px;
  width: 495px;
  height: 72px;
}
.div8 {
  position: absolute;
  top: 54.17%;
  left: 67.86%;
  font-weight: 600;
  color: var(--color-darkslateblue-100);
}
.soft-grasper-participant {
  position: relative;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
