<html>
  <head>
    <style>
        body{
        font-family: sans-serif;
        }

        .slider-2d{
        border: 1px solid black;
        /* cursor: move; */
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js">
    </script>
  </head>
  <script src="slider_2d.js"></script>
  <body>
  <h1>2D slider</h1>
  <svg class="slider-2d" width="500" height="500">
  </svg>
  <p>
    values: [<span id="valueX">0</span>, <span id="valueY">0</span>]
  </p>
  </body>
</html>