<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../static/components.css" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/fonts.css" />
    <script src="slider.js"></script>
</head>

<body>
    <div class="v-slider slider-l">
        <input type="range" id="range" orient="vertical" step="0.1"/>
        <div class="label">
            <h1 class="value">76%</h1>
            <h2>power</h2>
        </div>
    </div>

    <div class="v-slider slider-r">
        <input type="range" id="range" orient="vertical" step="0.1"/>
        <div class="label">
            <h1 class="value">76%</h1>
            <h2>power</h2>
        </div>
    </div>

    <!-- <div class="h-slider">
        <input type="range" id="range" orient="horizontal" step="0.1"/>
        <h class="value">76.6%</h>
    </div> -->
</body>