<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='survey-link-PARTICIPANT.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="survey-link-participant"  id="landing-PARTICIPANT" style="display: none">
      <img class="rect1394-icon7" alt="" src="./public/rect1394.svg" />

      <div class="survey-link-participant-child"></div>
      <div class="text1"></div>
      <div class="please-follow-this">
          Please follow this link to fill out a short survey:
          <a href = "https://docs.google.com/forms/d/e/1FAIpQLSeJnNUKamWz3mC8WIpUNsn4Z3GGHK5kGNR_wn3zCH8mE2tjdw/viewform">Pre-survey</a>
      </div>
      <div class="welcome">Welcome!</div>
    </div>

  </body>
</html>
