.rect1394-icon4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dual-grasper-participant-child {
  position: absolute;
  height: 79.63%;
  width: 44.79%;
  top: 13.98%;
  right: 49.22%;
  bottom: 6.39%;
  left: 5.99%;
  border-radius: var(--br-xl);
  border: 10px solid var(--color-darkslateblue);
  box-sizing: border-box;
}
.path5107-1-8-icon3,
.path5107-1-icon3 {
  position: absolute;
  height: 12.38%;
  width: 6.96%;
  top: 25.67%;
  right: 73.8%;
  bottom: 61.95%;
  left: 19.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path5107-1-8-icon3 {
  right: 62.37%;
  left: 30.67%;
}
.path5107-1-8-3-0-9-9-5-0-icon3,
.path5107-1-8-3-0-9-9-5-icon3,
.path5107-1-8-3-0-9-9-icon3,
.path5107-1-8-3-0-9-icon3 {
  position: absolute;
  height: 12.38%;
  width: 6.96%;
  top: 48.99%;
  right: 62.37%;
  bottom: 38.63%;
  left: 30.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path5107-1-8-3-0-9-9-5-0-icon3,
.path5107-1-8-3-0-9-9-5-icon3,
.path5107-1-8-3-0-9-9-icon3 {
  top: 70.86%;
  right: 85.41%;
  bottom: 16.76%;
  left: 7.63%;
}
.path5107-1-8-3-0-9-9-5-0-icon3,
.path5107-1-8-3-0-9-9-5-icon3 {
  right: 73.8%;
  left: 19.24%;
}
.path5107-1-8-3-0-9-9-5-0-icon3 {
  right: 62.37%;
  left: 30.67%;
}
.dual-grasper-participant-item {
  position: absolute;
  height: 67.22%;
  width: 35.47%;
  top: 14.26%;
  right: 6.3%;
  bottom: 18.52%;
  left: 58.23%;
  border-radius: var(--br-xl);
  background-color: var(--color-darkslateblue);
}
.rect5387-6-icon3 {
  position: absolute;
  height: 57.37%;
  width: 7.95%;
  top: 25.67%;
  right: 50.99%;
  bottom: 16.97%;
  left: 41.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.goal3 {
  position: absolute;
  top: 52.31%;
  left: 43.18%;
  font-size: var(--font-size-13xl);
  font-weight: 600;
}
.layer2-icon3,
.layer3-icon3,
.layer7-icon3,
.vector-icon10 {
  position: absolute;
  height: 12.38%;
  width: 6.96%;
  top: 25.65%;
  right: 85.43%;
  bottom: 61.97%;
  left: 7.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.layer2-icon3,
.layer3-icon3,
.vector-icon10 {
  height: 12.86%;
  width: 7.23%;
  top: 48.73%;
  right: 85.3%;
  bottom: 38.42%;
  left: 7.47%;
}
.layer3-icon3,
.vector-icon10 {
  height: 12.38%;
  width: 6.96%;
  top: 48.96%;
  right: 73.83%;
  bottom: 38.65%;
  left: 19.21%;
}
.vector-icon10 {
  height: 8.08%;
  width: 4.55%;
  top: 63.57%;
  right: 69.24%;
  bottom: 28.35%;
  left: 26.22%;
}
.div9 {
  top: 30.28%;
  left: 9.17%;
  font-size: var(--font-size-13xl);
}
.attempts-remaining3,
.div9,
.grasper3 {
  position: absolute;
  font-weight: 600;
}
.grasper3 {
  height: 4.83%;
  width: 9.44%;
  top: 16.85%;
  left: 72.55%;
  display: inline-block;
}
.attempts-remaining3 {
  top: 83.06%;
  left: 58.28%;
}
.dual-grasper-participant-inner,
.layer6-icon1 {
  position: absolute;
  height: 4.78%;
  width: 35.48%;
  top: 88.87%;
  right: 6.27%;
  bottom: 6.36%;
  left: 58.25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.layer6-icon1 {
  height: 21.93%;
  width: 16.65%;
  top: 21.49%;
  right: 15.7%;
  bottom: 56.57%;
  left: 67.65%;
}
.grasper_l {
  position: absolute;
  height: 7.08%;
  width: 4.03%;
  top: 47.34%;
  left: 61.91%;
  font-weight: 600;
  display: inline-block;
}
.power1 {
  top: 50.52%;
  left: 61.81%;
  font-size: var(--font-size-5xl);
}
.grasper_r,
.power1,
.power2 {
  position: absolute;
  font-weight: 600;
}
.grasper_r {
  height: 7.08%;
  width: 4.03%;
  top: 47.03%;
  left: 85.6%;
  display: inline-block;
}
.power2 {
  top: 50.21%;
  left: 85.59%;
  font-size: var(--font-size-5xl);
}
.g82826-icon4,
.g83120-icon4,
.rect79742-0-2-icon4,
.rect79742-0-icon4,
.rect79742-icon4 {
  position: absolute;
  height: 6.61%;
  width: 4.13%;
  top: 5.08%;
  right: 82.8%;
  bottom: 88.31%;
  left: 13.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.g83120-icon4,
.rect79742-0-2-icon4,
.rect79742-0-icon4,
.rect79742-icon4 {
  height: 6.66%;
  width: 6.34%;
  right: 87.4%;
  bottom: 88.25%;
  left: 6.26%;
}
.rect79742-0-2-icon4,
.rect79742-0-icon4,
.rect79742-icon4 {
  height: 0.86%;
  width: 5.18%;
  top: 4.87%;
  right: 6.19%;
  bottom: 94.28%;
  left: 88.63%;
}
.rect79742-0-2-icon4,
.rect79742-0-icon4 {
  top: 7.01%;
  bottom: 92.14%;
}
.rect79742-0-2-icon4 {
  top: 9.15%;
  bottom: 90%;
}
.am3,
.jan-283 {
  position: absolute;
  height: 5%;
  width: 10.49%;
  top: 6.2%;
  left: 66.98%;
  font-size: var(--font-size-5xl);
  display: inline-block;
  color: var(--color-peachpuff);
}
.am3 {
  width: 6.81%;
  left: 78.78%;
}
.background {
  right: 0;
  bottom: 0;
  border-radius: 12px;
  background-color: var(--color-peachpuff);
}
.background,
.buttontemplate,
.label4 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.label4 {
  line-height: 22px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttontemplate {
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.mybutton {
  position: absolute;
  top: 725px;
  left: 1394px;
  width: 121px;
  height: 74px;
  text-align: center;
  color: var(--color-darkslateblue);
}
.grooveback3 {
  width: 100%;
  right: 0;
  background-color: var(--color-gainsboro);
  border: 3.9px solid var(--color-peachpuff);
  box-sizing: border-box;
}
.grooveback3,
.slidertrack3,
.trackback3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-5xs);
}
.slidertrack3 {
  width: 150px;
  background-color: var(--color-peachpuff);
}
.sliderhandle3,
.slidertemplate3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 135px;
  width: 15px;
}
.slidertemplate3 {
  width: 100%;
  right: 0;
  left: 0;
}
.myslider3,
.myslider4 {
  position: absolute;
  top: 840px;
  left: 1283px;
  width: 341px;
  height: 77px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.myslider4 {
  top: 841px;
  left: 1549px;
}
.dual-grasper-participant {
  position: relative;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
