body {
  margin: 0;
  line-height: normal;
  background: #34113F;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-arial: Arial;

  /* font sizes */
  --font-size-13xl: 32px;
  --font-size-5xl: 24px;
  --font-size-17xl: 36px;
  --font-size-21xl: 40px;
  --font-size-xs: 12px;

  /* Colors */
  --color-darkslateblue: #775489;
  --color-darkslateblue-100: #34113f;
  --color-white: #fff;
  --color-lightgreen: #70ca68;
  --color-peachpuff: #ffcdbc;
  --color-crimson: #e24d4d;
  --color-sandybrown: #e2954d;
  --color-gainsboro: rgba(217, 217, 217, 0);
  --color-black: #000;

  /* border radiuses */
  --br-8xl-5: 27.5px;
  --br-6xl: 25px;
  --br-7xl: 26px;
  --br-7xl-5: 26.5px;
  --br-3xs: 10px;
  --br-xl: 20px;
  --br-5xs: 8px;
}
