.rect1394-icon5,
.vector-icon11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon11 {
  width: 55.52%;
  left: 44.48%;
}
.congratulations-on-completing {
  position: absolute;
  height: 12.55%;
  width: 34.44%;
  top: 41.93%;
  left: 4.72%;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
}
.please-complete-this {
  margin: 0;
}
.please-complete-this-container {
  position: absolute;
  height: 7.33%;
  width: 37.83%;
  top: 56.41%;
  left: 4.72%;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
}
.dual-grasper1 {
  color: var(--color-peachpuff);
}
.force-applied-using-container {
  position: absolute;
  height: 7.08%;
  width: 31.6%;
  top: 24.91%;
  left: 49.38%;
  font-weight: 600;
  display: inline-block;
  color: var(--color-white);
}
.b,
.b1,
.b2,
.b3,
.b4,
.b5 {
  position: absolute;
  top: 38.06%;
  left: 51.09%;
  font-family: var(--font-arial);
}
.b1,
.b2,
.b3,
.b4,
.b5 {
  top: 53.15%;
  left: 61.61%;
}
.b2,
.b3,
.b4,
.b5 {
  top: 68.89%;
  left: 61.46%;
}
.b3,
.b4,
.b5 {
  top: 37.78%;
}
.b4,
.b5 {
  top: 37.5%;
  left: 71.98%;
}
.b5 {
  top: 53.43%;
  left: 51.2%;
}
.div12,
.div13,
.div14 {
  position: absolute;
  top: 52.96%;
  left: 71.72%;
  font-weight: 600;
}
.div13,
.div14 {
  top: 68.61%;
}
.div14 {
  top: 68.89%;
  left: 50.94%;
}
.vector-icon12 {
  position: absolute;
  height: 0.19%;
  width: 10.78%;
  top: 28.98%;
  right: 23.75%;
  bottom: 70.83%;
  left: 65.47%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b6,
.time-taken {
  position: absolute;
  display: inline-block;
}
.time-taken {
  height: 7.08%;
  width: 11.42%;
  top: 17.25%;
  left: 49.39%;
  font-weight: 600;
  color: var(--color-white);
}
.b6 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.text22083-54-2-2 {
  position: absolute;
  height: 3.42%;
  width: 12.27%;
  top: 17.5%;
  right: 26.14%;
  bottom: 79.08%;
  left: 61.6%;
  font-family: var(--font-arial);
}
.vector-icon13,
.vector-icon14 {
  position: absolute;
  height: 4.25%;
  width: 44.19%;
  top: 88.33%;
  right: 6.41%;
  bottom: 7.42%;
  left: 49.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon14 {
  height: 4.28%;
  width: 3.38%;
  top: 88.32%;
  right: 47.22%;
  bottom: 7.4%;
}
.successful-attempts1 {
  color: var(--color-white);
}
.successful-attempts,
.unsuccessful-attempts {
  position: absolute;
  height: 7.5%;
  width: 22.15%;
  top: 83.39%;
  left: 49.34%;
  font-weight: 600;
  display: inline-block;
}
.unsuccessful-attempts {
  height: 4.83%;
  width: 22.27%;
  left: 73.33%;
}
.clip-path-group,
.vector-icon15 {
  position: absolute;
  height: 4.25%;
  width: 3.69%;
  top: 88.33%;
  right: 43.38%;
  bottom: 7.42%;
  left: 52.93%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.clip-path-group {
  height: 4.74%;
  width: 38.43%;
  right: 8.84%;
  bottom: 6.92%;
  left: 52.73%;
}
.g82826-icon5,
.g83120-icon5,
.rect79742-0-2-icon5,
.rect79742-0-icon5,
.rect79742-icon5 {
  position: absolute;
  height: 6.61%;
  width: 4.13%;
  top: 5.08%;
  right: 82.8%;
  bottom: 88.31%;
  left: 13.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.g83120-icon5,
.rect79742-0-2-icon5,
.rect79742-0-icon5,
.rect79742-icon5 {
  height: 6.66%;
  width: 6.34%;
  right: 87.4%;
  bottom: 88.25%;
  left: 6.26%;
}
.rect79742-0-2-icon5,
.rect79742-0-icon5,
.rect79742-icon5 {
  height: 0.86%;
  width: 5.18%;
  top: 4.87%;
  right: 6.19%;
  bottom: 94.28%;
  left: 88.63%;
}
.rect79742-0-2-icon5,
.rect79742-0-icon5 {
  top: 7.01%;
  bottom: 92.14%;
}
.rect79742-0-2-icon5 {
  top: 9.15%;
  bottom: 90%;
}
.am4,
.jan-284 {
  position: absolute;
  height: 5%;
  width: 10.49%;
  top: 6.2%;
  left: 66.98%;
  font-size: var(--font-size-5xl);
  display: inline-block;
}
.am4 {
  width: 6.81%;
  left: 78.78%;
}
.layer7-icon10,
.layer7-icon11,
.layer7-icon12,
.layer7-icon4,
.layer7-icon5,
.layer7-icon6,
.layer7-icon7,
.layer7-icon8,
.layer7-icon9 {
  position: absolute;
  height: 12.04%;
  width: 6.77%;
  top: 33.7%;
  right: 43.84%;
  bottom: 54.26%;
  left: 49.39%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.layer7-icon10,
.layer7-icon11,
.layer7-icon12,
.layer7-icon5,
.layer7-icon6,
.layer7-icon7,
.layer7-icon8,
.layer7-icon9 {
  top: 49.07%;
  bottom: 38.89%;
}
.layer7-icon10,
.layer7-icon11,
.layer7-icon12,
.layer7-icon6,
.layer7-icon7,
.layer7-icon8,
.layer7-icon9 {
  top: 64.43%;
  bottom: 23.53%;
}
.layer7-icon10,
.layer7-icon11,
.layer7-icon12,
.layer7-icon7,
.layer7-icon8,
.layer7-icon9 {
  top: 33.44%;
  right: 33.45%;
  bottom: 54.52%;
  left: 59.77%;
}
.layer7-icon10,
.layer7-icon11,
.layer7-icon12,
.layer7-icon8,
.layer7-icon9 {
  top: 48.81%;
  bottom: 39.16%;
}
.layer7-icon10,
.layer7-icon11,
.layer7-icon12,
.layer7-icon9 {
  top: 64.17%;
  bottom: 23.79%;
}
.layer7-icon10,
.layer7-icon11,
.layer7-icon12 {
  top: 33.34%;
  right: 23.07%;
  bottom: 54.62%;
  left: 70.16%;
}
.layer7-icon11,
.layer7-icon12 {
  top: 48.7%;
  bottom: 39.26%;
}
.layer7-icon12 {
  top: 64.07%;
  bottom: 23.89%;
}
.results {
  position: relative;
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-peachpuff);
  font-family: var(--font-inter);
}
