<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./dual-grasper-PROCTOR.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="dual-grasper-proctor">
      <img class="rect1394-icon1" alt="" src="./public/rect1394.svg" />

      <div class="dual-grasper-proctor-child"></div>
      <img class="path5107-1-icon" alt="" src="./public/path51071.svg" />

      <img class="path5107-1-8-icon" alt="" src="./public/path510718.svg" />

      <img
        class="path5107-1-8-3-0-9-icon"
        alt=""
        src="./public/path510718309.svg"
      />

      <img
        class="path5107-1-8-3-0-9-9-icon"
        alt=""
        src="./public/path5107183099.svg"
      />

      <img
        class="path5107-1-8-3-0-9-9-5-icon"
        alt=""
        src="./public/path51071830995.svg"
      />

      <img
        class="path5107-1-8-3-0-9-9-5-0-icon"
        alt=""
        src="./public/path510718309950.svg"
      />

      <div class="dual-grasper-proctor-item"></div>
      <img class="rect5387-6-icon" alt="" src="./public/rect53876.svg" />

      <div class="goal">Goal</div>
      <img class="layer7-icon" alt="" src="./public/layer7.svg" />

      <img class="layer2-icon" alt="" src="./public/layer2.svg" />

      <img class="layer3-icon" alt="" src="./public/layer3.svg" />

      <img class="vector-icon7" alt="" src="./public/vector7.svg" />

      <div class="div1">63%</div>
      <div class="grasper">Grasper</div>
      <div class="attempts-remaining">10 attempts remaining</div>
      <img
        class="dual-grasper-proctor-inner"
        alt=""
        src="./public/group-3.svg"
      />

      <img class="layer6-icon" alt="" src="./public/layer6.svg" />

      <img class="g82826-icon1" alt="" src="./public/g828261.svg" />

      <img class="g83120-icon1" alt="" src="./public/g831201.svg" />

      <div class="contact-force">Contact Force</div>
      <div class="rectangle-div"></div>
      <div class="dual-grasper-proctor-child1"></div>
      <div class="div2">76%</div>
      <img class="rect79742-icon1" alt="" src="./public/rect797421.svg" />

      <img class="rect79742-0-icon1" alt="" src="./public/rect7974201.svg" />

      <img class="rect79742-0-2-icon1" alt="" src="./public/rect79742021.svg" />

      <button class="group-button" id="pause">
        <div class="group-child1"></div>
        <div class="label">Pause</div>
      </button>
      <button class="rectangle-parent1" id="cancel">
        <div class="group-child2"></div>
        <div class="label">Cancel</div>
      </button>
    </div>
  </body>
</html>
