<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='dual-grasper-PARTICIPANT.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@700&display=swap"
    />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='/send.js') }}"></script>
  </head>
  <body>
    <div class="dual-grasper-participant">

      <div class="dual-grasper-participant-child" onmousedown="send_gantry_data()">
      </div>
      
      <img 
        class="path5107-1-icon3" 
        alt="" 
        src="{{ url_for('static', filename='/public/no-attempt.svg') }}" 
      />

      <img 
        class="path5107-1-8-icon3" 
        alt="" 
        src="{{ url_for('static', filename='/public/no-attempt.svg') }}" 

      <img
        class="path5107-1-8-3-0-9-icon3"
        alt=""
        src="{{ url_for('static', filename='/public/no-attempt.svg') }}" 
      />

      <img
        class="path5107-1-8-3-0-9-9-icon3"
        alt=""
        src="{{ url_for('static', filename='/public/no-attempt.svg') }}" 
      />

      <img
        class="path5107-1-8-3-0-9-9-5-icon3"
        alt=""
        src="{{ url_for('static', filename='/public/no-attempt.svg') }}" 
      />

      <img
        class="path5107-1-8-3-0-9-9-5-0-icon3"
        alt=""
        src="{{ url_for('static', filename='/public/no-attempt.svg') }}" 
      />

      <div class="dual-grasper-participant-item"></div>
      <img 
        class="rect5387-6-icon3" 
        alt="" 
        src="{{ url_for('static', filename='/public/goal.svg') }}" 
      />

      <div class="goal3">Goal</div>
      <img 
        class="layer7-icon3" 
        alt="" 
        src="{{ url_for('static', filename='/public/no-attempt.svg') }}" 
      />

      <img 
        class="layer2-icon3" 
        alt="" 
        src="{{ url_for('static', filename='/public/no-attempt.svg') }}" 
      />

      <img 
        class="layer3-icon3" 
        alt="" 
        src="{{ url_for('static', filename='/public/no-attempt.svg') }}" 
      />

      <img 
        class="vector-icon10" 
        alt="" 
        src="{{ url_for('static', filename='/public/gantry.svg') }}" 
      />

      <div class="div9">63%</div>
      <div class="grasper3">Grasper</div>
      <div class="attempts-remaining3">10 attempts remaining</div>
      <img
        class="dual-grasper-participant-inner"
        alt=""
        src="{{ url_for('static', filename='/public/attempts.svg') }}" 
      />

      <img 
        class="layer6-icon1" 
        alt="" 
        src="{{ url_for('static', filename='/public/dual-grasper.svg') }}" 
      />

      <div class="grasper_l" id="grasper_l">0%</div>
      <div class="power1">power</div>
      <div class="grasper_r" id="grasper_r">0%</div>
      <div class="power2">power</div>
      
      <img 
        class="g82826-icon4" 
        alt="" 
        src="{{ url_for('static', filename='/public/borg-logo.svg') }}" 
      />

      <img 
        class="g83120-icon4" 
        alt=""
        src="{{ url_for('static', filename='/public/cmu-logo.svg') }}" 
      />

      <img 
        class="rect79742-icon4" 
        alt="" 
        src="{{ url_for('static', filename='/public/rect797422.svg') }}"
      />

      <img 
        class="rect79742-0-icon4" 
        alt="" 
        src="{{ url_for('static', filename='/public/rect7974203.svg') }}"
      />

      <img 
        class="rect79742-0-2-icon4" 
        alt="" 
        src="{{ url_for('static', filename='/public/rect79742022.svg') }}"
      />

      <b class="jan-283">{{date}}</b>
      <b class="am3">{{time}}</b>
      <form method="post">
        <div class="mybutton" onmousedown="activate_grasper()">
          <div class="buttontemplate">
            <div class="background"></div>
            <div class="label4">On</div>
          </div>
        </div>
        <div class="myslider3" touchstart="send_grasper_data_left()" touchmove="send_grasper_data_left()" onmousedown="send_grasper_data_left()">
          <div class="slidertemplate3">
            <div class="slidertemplate3">
              <div class="grooveback3"></div>
            </div>
            <div class="slidertrack3" id="grasper_l_slider">
              <div class="trackback3"></div>
            </div>
          </div>
        </div>
        <div class="myslider4" touchstart="send_grasper_data_right()" touchmove="send_grasper_data_right()" onmousedown="send_grasper_data_right()">
          <div class="slidertemplate3">
            <div class="slidertemplate3">
              <div class="grooveback3"></div>
            </div>
            <div class="slidertrack3" id="grasper_r_slider">
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
