<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@700&display=swap"
    />
    <script type="text/javascript" src="date.js"></script>
  </head>
  <body>
    <div class="info-screen-proctor">

      <div class="please-specify-the">
        Please specify the type of object at each location
      </div>

      <img class="path5107-1-2-icon" alt="" src="{{ url_for('static', filename='public/gantry-circle.svg') }}" />

      <img class="path5107-1-2-icon1" alt="" src="{{ url_for('static', filename='public/gantry-circle.svg') }}" />

      <img class="path5107-1-2-icon2" alt="" src="{{ url_for('static', filename='public/gantry-circle.svg') }}" />

      <img class="path5107-1-2-icon3" alt="" src="{{ url_for('static', filename='public/gantry-circle.svg') }}" />

      <img class="path5107-1-2-icon4" alt="" src="{{ url_for('static', filename='public/gantry-circle.svg') }}" />

      <img class="path5107-1-2-icon5" alt="" src="{{ url_for('static', filename='public/gantry-circle.svg') }}" />

      <img class="path5107-1-2-icon6" alt="" src="{{ url_for('static', filename='public/gantry-circle.svg') }}" />

      <img class="path5107-1-2-icon7" alt="" src="{{ url_for('static', filename='public/gantry-circle.svg') }}" />

      <img class="path5107-1-2-icon8" alt="" src="{{ url_for('static', filename='public/gantry-circle.svg') }}" />

      <div class="id-code">ID Code</div>
      <img class="vector-icon" alt="" src="{{ url_for('static', filename='public/vector.svg') }}" />

      <div class="age">Age</div>
      <div class="select-grasper-type">Select grasper type:</div>
      <img class="vector-icon1" alt="" src="{{ url_for('static', filename='public/vector1.svg') }}" />

      <div class="time-log">Time Log</div>
      <img class="vector-icon2" alt="" src="{{ url_for('static', filename='public/vector2.svg') }}" />

      <div class="start-date">Start Date</div>

      <img class="vector-icon5" alt="" src="{{ url_for('static', filename='public/vector5.svg') }}" />

      <div class="gender">Gender</div>

      <p class="jan-28" id="start-date">{{date}}</p>
      <p class="am" id="time-log">{{time}}</p>
      <div class="please-fill-out">Please fill out the information below</div>
      <img class="g82826-icon" alt="" src="{{ url_for('static', filename='public/g82826.svg') }}" />

      <img class="g83120-icon" alt="" src="{{ url_for('static', filename='public/g83120.svg') }}" />

      <img class="rect79742-icon" alt="" src="{{ url_for('static', filename='public/rect79742.svg') }}" />

      <img class="rect79742-0-icon" alt="" src="{{ url_for('static', filename='public/rect797420.svg') }}" />

      <img class="rect79742-0-2-icon" alt="" src="{{ url_for('static', filename='public/rect7974202.svg') }}" />

      <b class="jan-281">{{date}}</b>
      <b class="am1">{{time}}</b>
      
      <form method="post">

        <button class="rectangle-parent" id="done" type="submit">
          <div class="group-child"></div>
          <div class="done">Done</div>
        </button>
        <button class="rectangle-group" id="soft">
          <div class="group-child"></div>
          <div class="soft-grasper">Soft Grasper</div>
        </button>
        <button class="rectangle-container" id="dual-grasper">
          <div class="group-child"></div>
          <div class="dual-grasper">Dual Grasper</div>
        </button>

        <input
          class="info-screen-proctor-child"
          type="text"
          placeholder="e.g. 123456"
          required
          id="id-code"
          name="id-code"
          value="{{ request.form['id-code'] }}"
        />

        <input 
          class="info-screen-proctor-item" 
          type="number" 
          required 
          id="age" 
          name="age"
          value="{{ request.form['age'] }}"
        />

        <input
          class="info-screen-proctor-inner"
          type="text"
          required
          id="gender"
          name="gender"
          value="{{ request.form['gender'] }}"
        />

        <input
          class="rectangle-input"
          type="text"
          defaultvalue="Type"
          placeholder="Type"
          name="type0"
          value="{{ request.form['type0'] }}"
        />

        <input
          class="info-screen-proctor-child8"
          type="text"
          defaultvalue="Type"
          placeholder="Type"
          name="type8"
          value="{{ request.form['type8'] }}"
        />

        <input
          class="info-screen-proctor-child1"
          type="text"
          defaultvalue="Type"
          placeholder="Type"
          name="type1"
          value="{{ request.form['type1'] }}"
        />

        <input
          class="info-screen-proctor-child4"
          type="text"
          defaultvalue="Type"
          placeholder="Type"
          name="type4"
          value="{{ request.form['type4'] }}"
        />

        <input
          class="info-screen-proctor-child3"
          type="text"
          defaultvalue="Type"
          placeholder="Type"
          name="type3"
          value="{{ request.form['type3'] }}"
        />

        <input
          class="info-screen-proctor-child2"
          type="text"
          defaultvalue="Type"
          placeholder="Type"
          name="type2"
          value="{{ request.form['type2'] }}"
        />

        <input
          class="info-screen-proctor-child7"
          type="text"
          defaultvalue="Type"
          placeholder="Type"
          name="type7"
          value="{{ request.form['type7'] }}"
        />

        <input
          class="info-screen-proctor-child6"
          type="text"
          defaultvalue="Type"
          placeholder="Type"
          name="type6"
          value="{{ request.form['type6'] }}"
        />

        <input
          class="info-screen-proctor-child5"
          type="text"
          defaultvalue="Type"
          placeholder="Type"
          name="type5"
          value="{{ request.form['type5'] }}"
        />
      </form>

    </div>
  </body>
</html>
