<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./soft-grasper-PARTICIPANT.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="soft-grasper-participant">
      <img class="rect1394-icon3" alt="" src="./public/rect1394.svg" />

      <div class="soft-grasper-participant-child"></div>
      <img class="path5107-1-icon2" alt="" src="./public/path51071.svg" />

      <img class="path5107-1-8-icon2" alt="" src="./public/path510718.svg" />

      <img
        class="path5107-1-8-3-0-9-icon2"
        alt=""
        src="./public/path510718309.svg"
      />

      <img
        class="path5107-1-8-3-0-9-9-icon2"
        alt=""
        src="./public/path5107183099.svg"
      />

      <img
        class="path5107-1-8-3-0-9-9-5-icon2"
        alt=""
        src="./public/path51071830995.svg"
      />

      <img
        class="path5107-1-8-3-0-9-9-5-0-icon2"
        alt=""
        src="./public/path510718309950.svg"
      />

      <div class="soft-grasper-participant-item"></div>
      <img class="rect5387-6-icon2" alt="" src="./public/rect53876.svg" />

      <div class="goal2">Goal</div>
      <img class="layer7-icon2" alt="" src="./public/layer7.svg" />

      <img class="layer2-icon2" alt="" src="./public/layer21.svg" />

      <img class="layer3-icon2" alt="" src="./public/layer32.svg" />

      <img class="vector-icon9" alt="" src="./public/vector7.svg" />

      <div class="div5">63%</div>
      <div class="grasper2">Grasper</div>
      <div class="attempts-remaining2">10 attempts remaining</div>
      <img
        class="soft-grasper-participant-inner"
        alt=""
        src="./public/group-3.svg"
      />

      <img class="g82826-icon3" alt="" src="./public/g828263.svg" />

      <img class="g83120-icon3" alt="" src="./public/g831203.svg" />

      <img class="rect79742-icon3" alt="" src="./public/rect797422.svg" />

      <img class="rect79742-0-icon3" alt="" src="./public/rect7974203.svg" />

      <img class="rect79742-0-2-icon3" alt="" src="./public/rect79742022.svg" />

      <b class="jan-282">Jan - 28 - 2023</b>
      <b class="am2">11:12 A.M.</b>
      <div class="damping">Damping</div>
      <div class="stiffness">Stiffness</div>
      <div class="power">Power</div>
      <img
        class="soft-grasper-participant-child1"
        alt=""
        src="./public/group-21.svg"
      />

      <div class="myslider">
        <div class="slidertemplate">
          <div class="slidertemplate">
            <div class="grooveback"></div>
          </div>
          <div class="slidertrack">
            <div class="trackback"></div>
          </div>
          <div class="sliderhandle">
            <div class="trackback"></div>
          </div>
        </div>
      </div>
      <div class="div6">36%</div>
      <div class="myslider1">
        <div class="slidertemplate">
          <div class="slidertemplate">
            <div class="grooveback"></div>
          </div>
          <div class="slidertrack">
            <div class="trackback"></div>
          </div>
          <div class="sliderhandle">
            <div class="trackback"></div>
          </div>
        </div>
      </div>
      <div class="div7">58%</div>
      <div class="myslider2">
        <div class="slidertemplate">
          <div class="slidertemplate">
            <div class="grooveback"></div>
          </div>
          <div class="slidertrack">
            <div class="trackback"></div>
          </div>
          <div class="sliderhandle">
            <div class="trackback"></div>
          </div>
        </div>
      </div>
      <div class="div8">76%</div>
    </div>
  </body>
</html>
