<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./survey-link-PARTICIPANT.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="survey-link-participant">
      <img class="rect1394-icon7" alt="" src="./public/rect1394.svg" />

      <div class="survey-link-participant-child"></div>
      <img class="g82826-icon7" alt="" src="./public/g828263.svg" />

      <img class="g83120-icon7" alt="" src="./public/g831203.svg" />

      <img class="rect79742-icon7" alt="" src="./public/rect797422.svg" />

      <img class="rect79742-0-icon7" alt="" src="./public/rect7974203.svg" />

      <img class="rect79742-0-2-icon7" alt="" src="./public/rect79742022.svg" />

      <b class="jan-286">Jan - 28 - 2023</b>
      <b class="am6">11:12 A.M.</b>
      <div class="text1"></div>
      <div class="please-follow-this">
        Please follow this link to fill out a short survey:___________
      </div>
      <div class="welcome">Welcome!</div>
    </div>
  </body>
</html>
