<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./waiting-to-proceed.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Arial:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="waiting-to-proceed">
      <img class="rect1394-icon6" alt="" src="./public/rect1394.svg" />

      <div class="text"></div>
      <div class="waiting-to-proceed-child"></div>
      <div class="you-have-completed">
        You have completed Test 1, please wait for further instructions.
      </div>
      <div class="congratulations">Congratulations</div>
      <img class="g82826-icon6" alt="" src="./public/g828265.svg" />

      <img class="g83120-icon6" alt="" src="./public/g831205.svg" />

      <img class="rect79742-icon6" alt="" src="./public/rect797423.svg" />

      <img class="rect79742-0-icon6" alt="" src="./public/rect7974204.svg" />

      <img class="rect79742-0-2-icon6" alt="" src="./public/rect79742023.svg" />

      <b class="jan-285">Jan - 28 - 2023</b>
      <b class="am5">11:12 A.M.</b>
    </div>
  </body>
</html>
